// Feautured post
.feautured_image {
    margin-top: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feautured_image_content {
    padding: 1rem;
    margin: 3rem 0;
    background: rgba(0,0,0,.5);
    color: $white;
    &:hover {
        color: $white;
    }
    p {
        color: $white;
    }
}

.feautured_image_content__h2 {
    color: $white;
}

// Blog section
.blog_post {
    background: $lightgray;
    margin-top: 1.5625rem !important;
    margin-bottom: 1.5625rem !important;
    padding: 1rem 0;
    position: relative;
    &:hover {
        box-shadow: 0 0 1rem 0.0625rem $gray;
    }
}

.blog_post_link {
    color: $gray;
}

.blog_post_date {
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.blog_post_date__span {
    @include font-size(48px);
    line-height: normal;
    display: block;
}

.blog_post_content {
    border-left: 1px solid $gray;
}

.blog_post_link {
    color: $black;
    &:hover {
        color: $black;
    }
}

// Blog tags area
.blog_tags {
    margin-top: 1.5625em;
}

.post_tag {
    display: inline-block;
    position: relative;
    color: $black;
    text-transform: capitalize;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    transition: margin 0.1s, padding 0.1s;
    padding: 0.2rem 0.5rem;
    margin: 0 0.5em 0.75em 0.5em;
    &:hover {
        padding: 0.2rem 1rem;
        margin: 0 0 0.75rem 0;
        color: $black;
    }
    &.post-tag--active {
        padding: 0.2rem 0.5rem;
        margin: 0 0.5rem 0.75rem 0.5rem;
    }

    &:before, &:after {
        display: block;
        position: absolute;
        bottom: 0;
        width: 1px;
        height: 0;
        background-color: $black;
        content: "";
        transition: height 0.2s 0.1s;
    }
    &:before {
        left: -1px;
    }
    &:after {
        right: -1px;
    }

    &:hover:before, &:hover:after, &.post-tag--active:before, &.post-tag--active:after {
        height: 100%;
    }
}
