/*_resume.scss */
.resume {
	padding: 50px 0;
}

.resume_type {
	color: $gray;
	text-transform: uppercase;
	text-align: left;
}

.resume_post {
	margin-bottom:1.5rem;
}

.resume_post__h3 {
	display: flex;
	align-items: flex-end;
  	flex-wrap: wrap;
	justify-content: space-between;
	white-space: nowrap;
}

.resume_post__title {
	position: relative;
	display: inline-block;
	&:after {
        display: block;
        position: absolute;
        bottom: 0;
		left: 0;
        width: 0;
        height: 3px;
        background-color: $primary_hover;
        content: "";
        transition: width 0.2s;
    }
    &:hover:after {
        width: 100%;
    }
}

.resume_post__date {
	color: $gray;
	@include font-size(16px);
}

.resume_post__role {
	@include font-size(20px);
	font-weight: 600;
	color: $gray;
}

.resume_post__entry {
	a {
	font-weight: 600;
		&:hover {
			text-decoration: underline;
			color: $primary_color;
		}
	}
}
