/*_global.scss*/
* {
	transition: all 0.2s;
	box-sizing: border-box;
}

body {
color: $text-color;
font-size: $base-font-size;
font-family: $base-font-family;
font-weight: $base-font-weight;
line-height: 1.6em;
}

a {
  color: $primary-color;
	text-decoration: none;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

h1 {

}

h2 {

}

h3 {
  @include font-size(24px);
  font-weight: 500;
}

h4 {
	@include font-size(16px);
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
