/*_global.scss*/
* {
	transition: all 0.2s;
	box-sizing: border-box;
}

body {
color: $text-color;
font-size: $base-font-size;
font-family: $base-font-family;
font-weight: $base-font-weight;
line-height: 1.6em;
}

h1, h2, h3, h4 {
	color: $black;
}

h1 {

}

h2 {
	@include font-size(32px);
}

h3 {
  @include font-size(24px);
  font-weight: 500;
  margin-bottom: .3rem;
}

h4 {
	@include font-size(16px);
}

p {
	color: $gray;
}

a {
  color: $primary_color;
	text-decoration: none;
	&:focus {
		color: $primary_color;
		text-decoration: none;
	}
	&:hover {
    	color: $primary_hover;
	    text-decoration: none;
  	}
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.button {
	display: inline-block;
	text-align: center;
	background: $primary_color;
	font-weight: 600;
	color: $white;
	text-transform: uppercase;
	margin: 0 1rem;
	padding: 2rem 1rem;
	transition: background 0.2s;
	&:visited {
		background: $primary_color;
		color: $white;
	}
	&:hover {
		background: $primary_hover;
		color: $white;
	}
	p {
		margin: 0;
		font-weight: 600;
		color: $white;
	}
}
