/*_typography.scss*/
body {
color: $text-color;
font-size: $base-font-size;
font-family: $base-font-family;
font-weight: $base-font-weight;
line-height: 1.6em;
}

a {
  color: $primary-color;
	text-decoration: none;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

h1 {

}

h2 {

}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
	font-size: 1em;
}
