/*_variables.scss */

/* Colors */
// Colors
$white: #ffffff;
$lightgray: #fbfbfb;
$gray: #333333;
$black: #000000;

$primary_color: #e05151;
$primary_hover: #d9411e;
$secondary_color: #75a3d1;
$tertiary_color: #ffd452;
$ls: 0.1em;

/* Body Text Styles */
$text-color: $black;
$base-font-size: 1em;
$base-font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;
